.map-card {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.map-card img {
  min-width: 200px;
  max-width: 500px;
  height: auto;
  display: block;
  object-fit: cover;
}

.map-card span {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  padding: 0.65rem 1rem;
  border-radius: 5px;
  background: #083126;
  color: #fafafa;
  font-size: 0.95rem;
  font-weight: 600;
}
