.map-card {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  padding: 1rem;
}

.map-card img {
  margin: auto;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

.map-card span {
  position: absolute;
  left: 1rem;
  margin: auto;
  bottom: 1rem;
  padding: 0.65rem 1rem;
  border-radius: 5px;
  background: #083126;
  color: #fafafa;
  font-size: 0.95rem;
  font-weight: 600;
}
