html{
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  background-color: red;
}

*,
*::before,
*::after{
  box-sizing: inherit;

}

.body_home{
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  background: blue;
}

img,
iframe,
video,
canvas,
svg{
  max-width: 100%;
  display: block;
}
