*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

.container_La_Casita2 {
	padding:  0 ;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	object-fit: cover;
	overflow: hidden;
}
.body_La_Casita2{
  margin:0;
  padding:0;
  background:#fafafa;
  position:relative;
  overflow-x:hidden;

  /* ajusta tamaños aquí */
  --stripe: 140px;
  --cloudW: 70px;
}

/* Franja azul cielo */
.body_La_Casita2::before{
  content:"";
  position:fixed;
  top:0;
  right:0;
  width:var(--stripe);
  height:100vh;
  background: linear-gradient(180deg,#bfe9ff 0%, #87cefa 55%, #bfe9ff 100%);
  z-index:0;
  pointer-events:none;
}

/* Borde tipo nube (blanco sobre la franja) */
.body_La_Casita2::after{
  content:"";
  position:fixed;
  top:0;
  right: calc(var(--stripe) - (var(--cloudW) / 2));
  width:var(--cloudW);
  height:100vh;

  background:
    radial-gradient(circle at 70% 40px, darkblue 0 10px, transparent 33px) repeat-y;
  background-size: var(--cloudW) 110px;

  filter: drop-shadow(-3px 0 3px rgba(0,0,0,.06));
  z-index:0;
  pointer-events:none;
}

/* Asegura que tu contenido quede encima */
.body_La_Casita2 > *{
  position:relative;
  z-index:1;
}

/* Botón flotante WhatsApp (abajo-derecha) */
.whatsapp-fab{
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 60px;                 /* tamaño visible */
  height: 60px;
  border-radius: 50%;
  background:  #fafafa ;
  box-shadow: 0 8px 20px rgba(0,0,0,.18);
  z-index: 1000;
  display: flex;
  overflow:hidden;
}
.whatsapp-fab:hover { transform: scale(1.06); }
.whatsapp-fab img{
  width: 75%;
  height: 75%;
  margin: auto;
  object-fit: cover;
}
