*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.body_history{
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(255,255,255,0) 40%),
   conic-gradient(
     from 200deg at 100% 0%,
     #BFA050 0%,
     #FFF3B0 12%,
     #8A5B30 28%,
     #FFF3B0 42%,
     #BFA050 60%,
     #8A5B30 100%
   );
}
.content_history{
  padding:  0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  object-fit: cover;
  overflow: hidden;
}
