*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
.body_Casa_Kandu  {
	padding: 0;
	margin: 0;
}
.container_Casa_Kandu  {
	padding:  0 ;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	object-fit: cover;
	overflow: hidden;
}


/* Bambú a la derecha */
.body_Casa_Kandu::after{
  content:"";
  position:fixed;       /* cámbialo a absolute si lo quieres solo dentro del contenedor */
  top:0;
  right:0;
  width:100px;
  height:100vh;

	background:
	  /* brillo/sombra vertical (cilindro) */
	  linear-gradient(90deg,
	    rgba(0,0,0,.22) 0%,
	    rgba(0,0,0,.12) 10%,
	    rgba(255,255,255,.35) 32%,
	    rgba(255,255,255,.10) 50%,
	    rgba(0,0,0,.10) 72%,
	    rgba(0,0,0,.22) 100%
	  ),

	  /* nudos (anillos) */
	  repeating-linear-gradient(to bottom,
	    rgba(0,0,0,0)    0px,
	    rgba(0,0,0,0)   62px,
	    rgba(110,85,40,.35) 62px,
	    rgba(255,255,255,.22) 66px,
	    rgba(90,70,35,.28) 70px,
	    rgba(0,0,0,0)   74px,
	    rgba(0,0,0,0)  120px
	  ),

	  /* color base: bambú seco */
	  linear-gradient(180deg,
	    #f3e2b8 0%,
	    #e2c98f 45%,
	    #caa564 100%
	  );

	/* sombra izquierda y derecha (y un glow suave) */
	box-shadow:
	  inset 10px 0 18px rgba(255,255,255,.25), /* brillo borde izq */
	  inset -12px 0 22px rgba(0,0,0,.22),      /* sombra borde der */
	  -10px 0 22px rgba(0,0,0,.14),            /* sombra externa izq */
	  8px 0 18px rgba(0,0,0,.08);              /* sombra externa der */

  pointer-events:none;
  z-index:0;
}

/* Asegura que el contenido quede encima */
.body_Casa_Kandu > *{
  position:relative;
  z-index:1;
}

/* Botón flotante WhatsApp (abajo-derecha) */
.whatsapp-fab{
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 60px;                 /* tamaño visible */
  height: 60px;
  border-radius: 50%;
  background:  #fafafa ;
  box-shadow: 0 8px 20px rgba(0,0,0,.18);
  z-index: 1000;
  display: flex;
  overflow:hidden;
}
.whatsapp-fab:hover { transform: scale(1.06); }
.whatsapp-fab img{
  width: 75%;
  height: 75%;
  margin: auto;
  object-fit: cover;
}
