*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.body_artesanias{
  margin: 0;
  background: linear-gradient(
  to bottom,
  rgba(235, 255, 235, 0.4) 0%,
  rgba(0, 85, 72, 1) 100%
);
}
.container_artesanias{
  padding:  0 1rem;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  object-fit: cover;
  overflow: hidden;
  }
/*
.icono_whatssap_general{
  position: relative;
  padding: 0;
  margin:0;
  border: 0;
  z-index: 10;
}
.icono_whatssap_general img{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 36%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: black 0.3s;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.icono_whatssap_general img:hover{
  transform: scale(1.1);
  cursor: pointer;
} */
